body {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

/** header styling**/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

h3 {
    color: white;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 14px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/** hero-section styling**/
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 20px;
    padding-bottom:90px ;
    margin: 0;
}

.text-and-button h2 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0px;
}

.text-and-button p {
    color: white;
    font-size: 12px;
}

.text-and-button button {
    color: white;
    background-color: #3882F6;
    padding: 8px 25px; /** Top and bottom, left and right**/
    border-radius: 8px;
    border: none;
}

.image img {
    width: 350px;
    height: auto;
}

/** styling for information-section**/

.information-section h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-image-placeholder {
    width: 150px;
    height: 150px;
    border: 3px solid;
    border-radius: 12px;
    border-color: #3882F6;
}

.card p {
    text-align: center;
    font-size: 15px;
}